# pip install -r requirements.txt

ultralytics==8.3.0
depthai==2.25.0.0
opencv-python==4.8.0.76
numpy<2
PyYAML==6.0.1

torch==2.1.2+cu118
torchvision==0.16.2+cu118
--extra-index-url https://download.pytorch.org/whl/cu118